$color-primary: #c68863;
$color-primary-dark: #b28451;

// $color-primary: #af63c6;
// $color-primary-dark: #a051b2;

$color-secondary: #101d26;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "open Sans", sans-serif;

// responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-larger: 62.5em; //1000px
$bp-large: 50em; //800px
$bp-small: 37.5em; //600

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidenav-start] 8rem [sidenav-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $bp-larger) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
