.homes{
    grid-column: center-start / center-end;

    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
}
.home{
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:3.5rem;
    &__img{
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
    }
    &__heart{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        margin: 1rem;
        fill: $color-primary;
        width: 2rem;
        height: 2rem;
        z-index: 2;
    }
    &__name{
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        width: 80%;
        justify-self: center;
        align-self: end;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.25rem;
        text-align: center;
        background-color: $color-secondary;
        color: #fff;
        z-index: 3;
        transform: translateY(50%);


    }
    &__location,
    &__rooms{
        margin-bottom: 3.5rem;
    }
    &__location,
    &__rooms,
    &__area,
    &__price{
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        svg{
            fill: $color-primary;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
        
    }
    &__btn{
        grid-column: 1 / -1;
    }
}